// CatCard.scss

.catCard {
    height: 344px;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    color: white;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .desc {
        font-weight: 300;
        position: absolute;
        top: 15px;
        left: 15px;
        text-shadow: 0 2px 5px rgba(0, 0, 0, 0.9);
    }

    .title {
        font-weight: 500;
        font-size: 24px;
        position: absolute;
        left: 15px;
        top: 40px;
        text-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
    }

    &:hover {
        transform: scale(1.05);
    }
}

/* Optional hover effect to add a smooth transition */
.catCard:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}