.slide {
    padding: 40px 0;

    .container {
        max-width: 1200px;
        margin: 0 auto;

        .mySwiper {
            position: relative;

            .swiper-wrapper {
                display: flex;
            }

            .swiper-slide {
                width: 100%;
                transition: transform 0.3s ease;
            }

            .swiper-button-prev,
            .swiper-button-next {
                width: 50px;
                height: 50px;
                background-color: lightgray;
                border-radius: 50%;
                color: #ffffff;
                transition: background-color 0.3s ease;

                &:hover {
                    background-color: darken(lightgray, 20%);
                }
            }

            // Custom pagination styles
            .swiper-pagination {
                .swiper-pagination-bullet {
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    margin: 0 5px;
                    cursor: pointer;
                    background-color: #fff;


                    &:hover {
                        background-color: darken(#0f4e92, 10%);
                    }

                    &-active {
                        background-color: #007aff;
                    }
                }
            }

            // Responsive styles
            @media screen and (max-width: 767px) {
                .swiper-slide {
                    width: 50% !important; // Override width to fit one slide per view on small screens
                }
            }
        }
    }
}