$bgColor: #013914;
$activeBgColor: #ffffff;

.navbar {
    background-color: $bgColor;
    padding: 20px 10px;
    position: sticky;
    top: 0;
    z-index: 999;
    transition: 0.5s all ease;
    color: white;

    @media screen and (max-width: 768px) {
        position: relative;
    }

    &.active {
        background-color: $activeBgColor;
        color: black;
        border-bottom: 0.5px solid rgb(240, 240, 240);

        button {
            background-color: white;
            color: #1dbf73 !important;
            border: 1px solid #1dbf73 !important;

            &:hover {
                background-color: #1dbf73;
                border-color: #1dbf73;
                color: white !important;
            }
        }
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px 0;

        .logo {
            display: flex;
            align-items: center;
            font-size: 34px;
            font-weight: bold;

            .dot {
                font-weight: bold;
                color: #1dbf73;
            }

            .text {
                margin-right: 5px;
            }
        }

        .links {
            display: flex;
            align-items: center;
            gap: 24px;
            font-size: 16px;
            font-family: "Montserrat", sans-serif;
            font-weight: 500;

            span {
                cursor: pointer;
                white-space: nowrap;

                &:hover {
                    text-decoration: underline;
                }
            }

            .user {
                display: flex;
                align-items: center;
                gap: 10px;
                cursor: pointer;
                position: relative;

                img {
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                }

                .options {
                    position: absolute;
                    top: 50px;
                    right: 0;
                    background-color: #fff;
                    padding: 20px;
                    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
                    z-index: 1;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    border: 1px solid lightgrey;
                    border-radius: 10px;
                    z-index: 999;
                    width: 200px;
                    font-weight: 300;
                    color: gray;

                    .link {
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }

            button {
                padding: 10px 20px;
                background-color: transparent;
                color: #fff;
                border: 1px solid white;
                border-radius: 5px;
                font-size: 16px;
                cursor: pointer;
                transition: background-color 0.3s ease;

                &:hover {
                    background-color: #1dbf73;
                    border-color: #1dbf73;
                }
            }
        }
    }

    hr {
        width: calc(100% - 2px);
        height: 0;
        border-top: 0.5px solid #ebe9e9;
        border-bottom: 0.5px solid #ebe9e9;
    }

    .menu {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        margin-top: 20px;
        padding: 10px 0px;
        color: gray;
        font-weight: 300;
        font-family: "Montserrat", sans-serif;

        .menuLink {
            &:hover {
                text-decoration: underline;
            }
        }
    }

    // Media query for small screens
    @media screen and (max-width: 768px) {

        // Adjust the styles for small screens here
        .container {
            flex-direction: column;
            align-items: center;

            .logo {
                margin-bottom: 10px;
            }

            .links {
                gap: 15px;
                font-size: 14px;
            }

            .menu {
                margin-top: 10px;
            }
        }
    }

    @media screen and (max-width: 500px) {
        .links {
            flex-wrap: wrap;
            justify-content: center;
        }

        .menu {
            margin-top: 5px;

            .menuLink {
                font-size: 14px;
            }
        }
    }
}